layout {

    focus-ring {
        active-color   "#64dbb4"
        inactive-color "#0a1519"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#64dbb4"
        inactive-color "#0a1519"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#64dbb4"
        inactive-color "#00513d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#64dbb480"
    }
}

recent-windows {
    highlight {
        active-color "#64dbb4"
        urgent-color "#ffb4ab"
    }
}
